node_modules
.next
dist
out
.turbo

.env
.env.local
.env*.local

*.log
.DS_Store
.vscode
.idea

coverage
*.tsbuildinfo

# Supabase
supabase/.branches
supabase/.temp

# Expo
.expo
.expo-shared
ios
android
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
